/* Diffent Fonts */
.fonts{
  font-family: 'Finger Paint', cursive;
  font-family: 'Mogra', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Shojumaru', cursive;
  font-family: 'Merienda One', cursive;

}